.validationWidget {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: -5px;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  .validationWidget ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .validationWidget li {
    font-size: 0.85rem;
    margin-bottom: 5px;
    transition: color 0.2s;
  }
  
  .validationWidget li:last-child {
    margin-bottom: 0;
  }
  

  .invalid {
    color: #d93025;
  }
  
  .valid {
    color: #008000;
  }
  